<div class="airands-splash">
  <img src="assets/name-logo.svg" alt="Airands Banner">
  <div class="social-icons">
    <a href="https://www.instagram.com/airandsapp" target="_blank">
      <ion-icon size="large" name="logo-instagram"></ion-icon>
    </a>
    <a href="https://www.twitter.com/airandsapp" target="_blank">
      <ion-icon size="large" name="logo-twitter"></ion-icon>
    </a>
    <a href="https://fb.me/airands" target="_blank">
      <ion-icon size="large" name="logo-facebook"></ion-icon>
    </a>
  </div>
</div>
